/Documents/NetBeansProjects/JavaApplication1/nbproject/private/
/Documents/NetBeansProjects/testgui/nbproject/private/
/Documents/NetBeansProjects/testgui/build/
**/*.localz
**/*.local
**/*.git
**/*.DS_Store
